<h3>Post Form</h3>

<%= form_for(@post) do |form| %>
  <!-- puts everything within @post, like in rake schema table creation -->
  <label>Post title:</label><br>
  <%= form.text_field :title %><br>
  <!-- replaces text_field_tag and the need for a , @post.title source -->

  <label>Post description</label><br>
  <%= form.text_area :description %><br>
0

  <%= form.submit %>
<% end %>